@import url('./main-layout.css');
@import url('./views/home-view.css');
@import url('@fontsource/mountains-of-christmas/index.css');    html, spreadsheet-view-export, grid-with-filters-view-export {
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 3rem;
      --lumo-font-size-xxl: 2.25rem;
      --lumo-font-size-xl: 1.75rem;
      --lumo-font-size-l: 1.375rem;
      --lumo-font-size-m: 1.125rem;
      --lumo-font-size-s: 1rem;
      --lumo-font-size-xs: 0.875rem;
      --lumo-font-size-xxs: 0.8125rem;
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
--lumo-font-family: Mountains of Christmas;

    }
